<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dark Souls Development Concepts</title>
</head>

<body>
<h1>Dark Souls Development Concepts</h1>
<article>
    <ul>
        <li>High degree of difficulty</li>
        <li>The objective is to give players a challenge that is rewarding when met</li>
        <li>Difficulty is something anyone can overcome through observation, strategy and choice</li>
        <li>Aiming to provide freedom for the player character</li>
        <li>Demon's Souls' "learn from your mistakes" theme remains the base for the game</li>
        <li>Implementation of a seamless map, that was not realized in Demon's Souls</li>
        <li>The analogy for the game is: "Something spicy, but that anyone can enjoy"</li>
        <li>Whilst happy that the game had international appeal, no special intentions to cater to their tastes</li>
    </ul>
</article>
</body>
</html>